body {
    height: 100vh;
    width: 100vw;
}

/* horizontal lines */
.hr::before,
.hr::after {
    content: '';
    border: 1px solid rgba(204, 204, 204, 0.89);
}

.hr {
    display: flex;
    align-items: center;
}

.hr::before,
.hr::after {
    flex-grow: 1;
    margin: 0 40px;
}