<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
    <title>register</title>
</head>

<body>
    <article class="blue-grey lighten-5 center-align">
        <div class="container white">
            <header>
                <h1>Register Now</h1>
                <% include ./partials/msg %>
            </header>
            <main class="container">
                <form action="/users/register" method="POST">
                    <div class="login-data">
                        
                        <label for="name">Name</label>
                        <div>
                            <input type="name" id="name" name="name" placeholder="Enter Your Name"
                                value="<%= typeof name != 'undefined' ? name : '' %>" />
                        </div>
                        <label for="email">Email</label>
                        <div>
                            <input type="email" id="email" name="email" class="browser-default"
                                placeholder="Enter Email"
                                value="<%= typeof email != 'undefined' ? email : '' %>" />
                        </div>
                        <label for="password">Password</label>
                        <div>
                            <input type="password" id="password" name="password" class="browser-default"
                                placeholder="Create Password"
                                value="<%= typeof password != 'undefined' ? password : '' %>" />
                        </div>
                        <label for="password2">Confirm Password</label>
                        <div>
                            <input type="password" id="password2" name="password2" class="browser-default"
                                placeholder="Confirm Password"
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                        </div>
                        <div class="login-button">
                            <button type="submit">
                                <font color="white">Register</font>
                            </button>
                        </div>
                    </div>
                </form>
            </main>
    </div>
</article>

</body>

</html>