body {
    height: 100vh;
    width: 100vw;
}

/* horizontal lines */
.hr::before,
.hr::after {
    content: '';
    border: 1px solid rgba(204, 204, 204, 0.89);
}

.hr {
    display: flex;
    align-items: center;
    opacity: 0.6;
    font-style: bold;
}

.hr::before,
.hr::after {
    flex-grow: 1;
    margin: 0 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    margin-left: 20px;
    font-size: 60px;
    color: #ff6d24;
    text-shadow:0 1px 2px rgba(12, 10, 10, 0.5);
}
.social {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-width: 500px;
}

.social button {
    display: flex;
    align-items: center;
    min-width: 400px;
    min-height: 40px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
}

.social button:hover{
    background-color: rgb(224, 224, 224);
}

.social-inner {
    margin-right: 20px;
    font-family: 'Poppins',
    sans-serif;
    font-weight: 600;
}

.fa-facebook {
    margin-left: 4px;
    color: #3B5998;
    font-size: 28px;
}

.google-icon {
    margin-left: 2px;
    max-width: 28px;
    height: 28px;
}

.login-data {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-width: 500px;
}
input {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: black;
    opacity: 0.8;
}

.login-button button {
    margin: 20px;
    padding: 9px;
    width: 400px;
    background-color: #ff6d24;
    font-family: 'Poppins',
    sans-serif;
    font-weight: 600;
    border: 0px solid transparent;
    border-radius: 5px;
}
.login-button button:hover {
    background-color: #d15d22;
}
#login-text {
    color: white;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-width: 500px;
    font-weight: 500;
    color: black;
}

.paragraphs div{
    margin: 6px;
}